@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&?family=Cookie&family=Praise&family=Varela+Round&display=swap');

.products-name{
font-family: 'Crimson Text', serif;
font-size: 40px;
color:tomato;
}

.products-title{
font-family: 'Praise', cursive;
font-size: 60px;
}

.products-heading{
font-family: 'Varela Round', sans-serif;
font-size: 70px;
}

.products-details{
  font-family: 'Cookie', cursive;
  
}

.App {
  text-align: center;
}



